# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
.pnpm-store/

# Database
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
